@import "variables-global";
@import "reset";

@import "components/col/col";
@import "components/container/container";
@import "components/footer/footer";
@import "components/header/header";
@import "components/icon/icon";
@import "components/img-box/img-box";
@import "components/logo/logo";
@import "components/nav/nav";
@import "components/row/row";
@import "components/sticker/sticker";
@import "components/temp/temp";


html {
  height: 100%;
  box-sizing: border-box;
}

body {
  @extend %posr;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-size: 16px;
}

.main {
  margin-top: $header_min-height;
  padding-bottom: 64px;
}


.tns-controls {
  @extend %posa;
  top: 0;
  right: 0;

  & button {
    width: 7.7px;
    height: 18.1px;
    background: url("../img/arrow.png");
    background-size: 100%;
    border: 0;
  }

  & button[data-controls="prev"] {
    margin-right: 20px;
  }

  & button[data-controls="next"] {
    transform: rotate(180deg);
  }

}